@using ToDoListBlazor.Services.MsgService
@inherits LayoutComponentBase
@implements IListener<UserChanged>
@implements IDisposable
@inject MessageService msgSrv
<PageTitle>ToDoListBlazor2</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (currentUser != null)
            {
                <div>@currentUser.Nom @currentUser.Prenom</div>
            }
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private User currentUser;

    protected override void OnInitialized()
    {
        msgSrv.Subscribe(this);
    }

    public async Task Handle(UserChanged signal)
    {
        currentUser = signal.NewUser;
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        msgSrv.Unsubscribe(this);

    }

}