<div class="d-flex flex-column" style="width:fit-content">
    @ChildContent
    <button class="btn btn-secondary" @onclick=ActionToDo>@ButtonText</button>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public EventCallback ActionToDo { get; set; }
    [Parameter]
    public string ButtonText { get; set; }
}
