<div class="d-flex flex-column p-2" style="border-radius:0.25em;border:1px solid black;background-color:white">
    <div class="d-flex flex-row">
        <div class="me-2">@todo.Order.</div>
        <div>
            @todo.TodoLabel
        </div>

    </div>
    <div class="d-flex flex-row mt-2 align-items-center">
        <button class="btn btn-primary me-2" @onclick=ChangeStatus>
            @if (todo.IsDone)
            {
                <text>To be done</text>
            }
            else
            {
                <text>Done</text>
            }
        </button>
        <a class="me-2" href=@($"/addtodo/{todo.Id}")>Modifier</a>
        <button class="btn btn-primary" style="width:50px;" @onclick=EditLabel><i class="oi oi-pencil"></i></button>
    </div>
</div>


@code {
    [Parameter]
    public ToDo todo { get; set; }

    [Parameter]
    public EventCallback<int> StatusChanged { get; set; }

    [Inject]
    private IJSRuntime JS { get; set; }

    private async void ChangeStatus()
    {
        await StatusChanged.InvokeAsync(todo.Id);
    }

    public async void EditLabel()
    {
        var res = await JS.InvokeAsync<string>("setTodoLabel", todo.TodoLabel);
        todo.TodoLabel = res;
        await InvokeAsync(StateHasChanged);
    }
}
