@typeparam T

<div class="d-flex flex-column @Class">
    <h5>@Title</h5>
    @foreach (var item in Items)
    {
        @ChildContent(item)
    }
</div>

@code {
    [Parameter]
    public IEnumerable<T> Items { get; set; }
    [Parameter]
    public RenderFragment<T> ChildContent { get; set; }
    [Parameter]
    public string Class { get; set; }
    [Parameter]
    public string Title { get; set; }
}
