<div class="d-flex flex-column">
    <div class="d-flex flex-row">
        <div class="me-2">@todo.Order.</div>
        <div>
            @todo.TodoLabel
        </div>
        <button @onclick=ChangeStatus>
            @if (todo.IsDone)
            {
                <text>To be done</text>
            }
            else
            {
                <text>Done</text>
            }
        </button>
    </div>
    <a href=@($"/addtodo/{todo.Id}")>Modifier</a>
    <button class="btn btn-primary" @onclick=EditLabel><i class="oi-pencil"></i></button>
</div>


@code {
    [Parameter]
    public ToDo todo { get; set; }

    [Parameter]
    public EventCallback<int> StatusChanged { get; set; }

    [Inject]
    private IJSRuntime JS { get; set; }

    private async void ChangeStatus()
    {
        await StatusChanged.InvokeAsync(todo.Id);
    }

    public async void EditLabel()
    {
        var res = await JS.InvokeAsync<string>("setTodoLabel", todo.TodoLabel);
        todo.TodoLabel = res;
        await InvokeAsync(StateHasChanged);
    }
}
