@page "/"

@using ToDoListBlazor.Components.Demos

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<FoobarComponent/>
<Foobar2Component></Foobar2Component>
<DisplayStringComponent MaString="Hello, je suis une nouvelle chaine de charactères"></DisplayStringComponent>