@page "/"
@using ToDoListBlazor.Pages.Exceptions
@using ToDoListBlazor.Pages.Login
@using ToDoListBlazor.Services
@using ToDoListBlazor.Services.MsgService
@inject UserService usrSrv
@inject NavigationManager Nav
@inject MessageService msgSrv

<h3 class="mb-4">
    Bonjour et bienvenu sur TodoApp !
</h3>
<EditForm EditContext=editContext OnValidSubmit=SubmitCredential>
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="d-flex flex-row mb-2 align-items-center">
        <label class="me-3">Nom :</label>
        <InputText class="form-control" @bind-Value=user.Nom />
    </div>
    <div class="d-flex flex-row mb-2 align-items-center">
        <label class="me-3">Prénom :</label>
        <InputText class="form-control" @bind-Value=user.Prenom />
    </div>
    @if (isRegister)
    {
        <div class="d-flex flex-row mb-2 align-items-center">
            <label class="me-3">Prénom :</label>
            <InputDate class="form-control" @bind-Value=user.DateNaissance />
        </div>
    }
    <button class="btn btn-primary" type="submit">@(isRegister?"Enregistrer":"Login")</button>
    @if (hasError)
    {
        <span class="text-warning">@errorMessage</span>
    }
</EditForm>
<button class="nav-link btn btn-link" @onclick=SwitchState>Je ne possède pas encore de compte</button>

<style>
    label {
        white-space: nowrap;
        width: 100px;
    }

    .form-control {
        width: 250px;
    }
</style>

@code {
    private bool isRegister;
    private UserVM user = new UserVM();
    private bool hasError;
    private string errorMessage;
    private EditContext editContext;

    protected override void OnInitialized()
    {
        editContext = new EditContext(user);
    }

    private void SubmitCredential()
    {
        try
        {
            hasError = false;
            errorMessage = string.Empty;
            //bool res = true;
            if (isRegister)
                usrSrv.AddUser(user.model);
            else
                usrSrv.SetUser(user.Nom, user.Prenom);
            //res = usrSrv.SetUser(user.Nom, user.Prenom);
            //if (res)
            msgSrv.Publish(new UserChanged(user.model));
            Nav.NavigateTo("/todo");
            //else
            //{
            //hasError = true;
            //errorMessage = "Impossible d'authentifier cette utilisateur";
            //}

        }
        catch (LoginException ex)
        {
            hasError = true;
            errorMessage = ex.Message;
        }
    }

    private void SwitchState()
    {
        isRegister = !isRegister;
    }
}
